#fact-container {
  margin-top: 20px;
}

#commentHistory {
  margin-top: 20px;
}

#comments-container {
  margin-top: 20px;
}

#map {
  border: thin solid black;
  height: 800px;
  width: 1500px;
  display: inline-block;
}

.mainImages {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.mainImages img {
  margin: 10px;
  max-height: 250px;
}

.desk {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.desk img {
  margin: 10px;
  max-height: 250px;
}

h1 {
    color:cornflowerblue;
    font-family: sans-serif;
}

h2 {
    color: cornflowerblue;
    font-family: sans-serif; 
}

p {
    font-size: 16px;
}

.text-container {
    text-align: center;
    background-color: aliceblue;
}

.text-container h1{
    font-size: 35px;
}

.thorText {
    text-align: center;
    font-size: 20px;
}

.myButton {
    padding: 30px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 5px;
    color: darkgoldenrod;
    background-color: floralwhite;
    cursor: pointer;
}

.myButton:hover {
    color: floralwhite;
    background-color: gold;
    box-shadow: 0 14px 14px burlywood;
}

deleteButton {
    padding: 30px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 5px;
    cursor: pointer;
    color: orangered;
    background-color: blanchedalmond;    
}

.deleteButton:hover {
    color: blanchedalmond;
    background-color: orangered;
    box-shadow: 0 14px 14px burlywood;
}
